* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

body {
  background-color: #ddd;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  margin: 50px;
}

/* Container */
.container {
  display: grid;
  gap: 10px;
}

/* Header */
header {
  display: grid;
  grid-template-areas: 
  'hero hero feature-1'
  'hero hero feature-2';
}

.hero {
  grid-area: hero;
  min-height: 300px;
  background-image: url(assets/hero.png);
  background-size: cover;
  background-position: center;
  padding: 50px;
}

.hero > * {
  display: none;
}

.features {
  display: grid;
  place-content: center;
  text-align: center;
  cursor: pointer;
}

.feature-1 {
  grid-area: feature-1;
  background-color: rgb(175, 90, 255);
}

.feature-2 {
  grid-area: feature-2;
  background-color: rgb(88, 88, 253);
}

.features .price {
  font-size: 3em;
  font-weight: 200;
}

/* Navigation */
.menu {
  order: -1;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.menu .brand {
  font-size: 1.3em;
  color: #333;
}

.menu ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 5px;
}

.menu a {
  display: block;
  background-color: #000;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  text-transform: uppercase;
  font-size: .9em;
}

/* Services */
.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.service {
  background-color: white;
  padding: 15px;
  text-align: center;
  border: 1px solid #aaa;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, .3);
}

.service .icon {
  font-size: 3em;
}

.service h3 {
  font-size: 1.5em;
}

.service p {
  font-weight: 200;
  letter-spacing: 1px;
  font-size: .8em;
}

/* Gallery */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  margin-top: 20px;
}

.gallery h2 {
  grid-column: 1 / -1;
  text-align: center;
  margin-bottom: 20px;
}

.gallery .img {
  background-color: #000;
  height: 200px;
}

/* Responsive Breakpoint */
@media (max-width: 1024px) {
  .menu {
    order: inherit;
    grid-template-columns: 1fr;
  }

  .menu .brand {
    display: none;
  }

  .hero > * {
    display: block;
    background-color: #000;
    color: white;
    padding: 5px;
    margin-bottom: 5px;
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}